<h2>Base</h2>

<h1>h1 Title</h1>
<h2>h2 Title</h2>
<h3>h3 Title</h3>
<h4>h4 Title</h4>
<h5>h5 Title</h5>
<h6>h6 Title</h6>

<p>Curso Udemy 2023</p>

<h3>Links</h3>

<a class="app-a">Link 1</a>
<a class="app-a">Link 2</a>
<a class="app-a">Link 3</a>

<h3>Buttons</h3>

<button class="app-button">Button 1</button>
<button class="app-button">Button 2</button>

<h3>Code</h3>

<code>const paremeter = 1000</code>

<h3>Inputs</h3>

<input class="app-input" type="text" placeholder="Text input">

<h3>Mixins</h3>

<h2>Shadow</h2>

<div class="shadow">
    Shadow Mixin
</div>

<div class="card">
    Card Mixin
</div>

