<h2>Formularios de Angular</h2>


<form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
    <app-button (click)="organize()">Organizar</app-button>
    <app-button (click)="onPatchValue()">Boton de prueba</app-button>
    <br/>
    <br/>
    <app-form-field label="Rodrigo Calle" [required]="true" [control]="form.controls.name"
        [isInline]="isInline" [patternError]="regexErrors.email">
        <app-input formControlName="name"></app-input>
    </app-form-field>

    <app-form-field label="Password" [required]="true" [control]="form.controls.password"
        [isInline]="isInline" [patternError]="regexErrors.password">
        <app-password formControlName="password"></app-password>
    </app-form-field>

    <app-form-field label="Select" [required]="true" [control]="form.controls.select"
        [isInline]="isInline">
        <app-select formControlName="select" [items]="items"></app-select>
    </app-form-field>
    
    <app-form-field label="Checkboxes" [required]="true" [control]="form.controls.checkboxes"
        [isInline]="isInline">
        <app-checkboxes formControlName="checkboxes" [items]="items"></app-checkboxes>
    </app-form-field>
</form>
