$base: #fafafa;
$base-dark: #c7c7c7;
$base-light: #ffffff;
$on-base: #000000;

$primary: #0277bd;
$primary-dark: #01579b;
$primary-light: #58a5f0;
$on-primary: #ffffff;

$secondary: #fbc02d;
$secondary-dark: #c49000;
$secondary-light: #ffef62;
$on-secondary: #000000;

$error: #f44336;
$error-dark: #ba000d;
$error-light: #ff7961;
$on-error: #ffffff;

$success: #4caf50;
$success-dark: #087f23;
$success-light: #80e27e;
$on-success: #ffffff;