<div class="password">
    <input type="text" class="app-input" [value]="value" [placeholder]="placeholder || 'Password'"
        [disabled]="isDisabled ? true : null" (keyup)="onKeyUp($event)" (blur)="onBlur()"
        [type]="passwordType">
        <div class="password__actions">
            <span>
                <i class="fa fa-eye" aria-hidden="true" (click)="tooglePasswordType()"
                *ngIf="passwordType === 'password'"></i>
                <i class="fa fa-eye-slash" aria-hidden="true" (click)="tooglePasswordType()"
                *ngIf="passwordType !== 'password'"></i>
            </span>
        </div>
</div>